//- menu
aside.y._1.end.danger.br
    nav.x
        ul.y
            each feat in Docs
                -var link = '#' + feat.title;
                li.stretch
                    a.Txt(href=link)=feat.title
//- data
article.y._10
    each feat in Docs
        section(id=feat.title).y
            header.y
                sumary.Txt.x=feat.title
                detail.Txt.x.muted=feat.resume
            .bb.danger
            main.y
                each p in feat.ps
                    p.x=p
            footer.y
                .TXT.x=feat.others