//- menu
aside.y._1.danger.br
    nav.x
        ul.y.end
            each feat in Docs
                -var link = '#' + feat.title;
                li._0
                    a.Txt(href=link)=feat.title
    img(src='assets/Horse.png').wrap
//- data
article.y._10
    each feat in Docs
        section(id=feat.title).y
            header.y
                sumary.Txt.x=feat.title
                detail.Txt.x.muted=feat.resume
            .bb.danger
            main.y
                each p in feat.ps
                    p.x=p
            footer.y
                small.TXT.x.muted Last Update:
                    strong=feat.updated